<% layout("layouts/boilerplate") %>
<div class="row">
    <div class="col-8 offset-2 mt-7">
      <h3><b><%= listing.title %></b></h3>
      <hr/>
    </div>
    <div class="card col-6 offset-3 show-card listing-card">
        <img src="<%= listing.image?.url %>" class="card-img-top show-img" alt="listing_image">
        <div class="card-body">
            <p class="card-text">
                <li>Description : <%= listing.description %></li>
                <li>Location : <%= listing.location %></li>
                <li>Country : <%= listing.country %></li>
                <li>Price : &#x20B9; <%=listing.price ? listing.price.toLocaleString() : "Price not available" %></li>  
            </p>
        </div>  
    </div>
</div>

<div class="row mt-15">
    <div class="btns col-6 offset-4 d-flex">
        <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark edit-btn">Edit</a>
        
        <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
            <button class="btn btn-dark delete-btn offset-5">Delete</button>
        </form>
    </div>
</div>
<div class="col-8 offset-3 mb-3">
    <hr/>
    <h4>Leave a review</h4>
    <form action="/listings/<%=listing.id%>/reviews" method="POST" novalidate class="needs-validation">
        <div class="mb-3 mt-3">
            <label for="rating" class="form-label">Rating</label>
            <input type="range" class="form-range" min="1" max="5" id="rating" name="review[rating]">
        </div>
        <div class="mb-3 mt-3">
            <label for="comment" form-label">Comments</label>
            <textarea name="review[comment]" id="comment" cols="28" rows="5" class="form-control" required></textarea>
            <div class="invalid-feedback">Add some comment for review </div>
        </div>
        <button class="btn btn-dark">Submit</button>
    </form>
    <hr/>

    <p><b>All Reviews</b></p>
  
    <div class="row">
  <% for(let review of listing.reviews) { %>
    <div class="card col-5 ms-3 mb-3 border"> 
      <div class="card-body">
        <h5 class="card-title">Jane Doe</h5>
        <p class="card-text"><b>Feedback: </b><%= review.comment %></p>
        <p class="card-text"><b>Rating: </b><%= review.rating %>/5</p>
      </div>
      <form class="mb-3" method="POST" action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">
         <button class="btn btn-sm btn-dark">Delete</button>
      </form>
    </div> <% } %>
</div>
<br><br>



